html,body{
	/*margin:0px;
	height:100vh;*/
	overflow:hidden;
	background-color: #222;
}

#canvas {
  display: block;
  position: fixed;
  top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

  width: 1287px;
  height: 768px;

  /*//transform:translate(-50%, -25%);*/
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;


  /* cursor: none; */

  margin: auto;

}

:-webkit-full-screen  {
  width: 2140px;
  height: 1280px;
}
