html,body{
	overflow:hidden;
  height:100vh;
  background: #020202; /* Old browsers */
  background: -moz-linear-gradient(top, #020202 0%, #1b1759 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #020202 0%,#1b1759 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #020202 0%,#1b1759 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020202', endColorstr='#1b1759',GradientType=0 ); /* IE6-9 */
}

#canvas {
  display: block;
  position: fixed;
  top:0;
  bottom: 0;
  right:0;
  width: 82%;
  height: 96vh;
  margin:1%;
  border:1px solid #123;
  border-radius:25px;
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
}

:-webkit-full-screen  {
  width: 2140px;
  height: 1280px;
}

#instructions{
  position:absolute;
  font-family:courier,arial,tahoma;
  top:4vw;
  width:14vw;
  color:#aec;
  font-size:1.25vw;
  margin-left:1vw;
  text-align: left;
  border:2px solid rgba(100,100,100,.5);
  border-radius:10px;
  background:rgba(12,10,38,.5);
  padding-top:2vw;
  padding-bottom:2vw;
}

.caption{
  padding-left:1vw;
}

.label{
  color:#888;
}

#logo{
  width:14vw;
}

hr{
  border:1px solid rgba(100,100,100,.5);
}

a{
  text-decoration:none;
  color:#68f;
  font-size:1.25vw;
}